/* ------------Mobile Devices------------ */

@media screen and (max-width:600px) {

    /* --navbar responsive--- */
    nav {
        padding: 1rem 1.5rem;
    }

    .nav-content h3 {
        font-size: 2rem;
    }

    .nav-bar ul {
        flex-direction: column;
        position: fixed;
        top: 6.5rem;
        left: -100%;
        background: #092635;
        height: 100vh;
        width: 100%;
        transition: all 0.3s ease;
    }

    .nav-bar ul li {
        margin-top: 3.2rem;
    }

    .nav-bar ul li a {
        color: #BAD7E9;
    }

    .nav-bar ul li a:hover {
        color: #fff;
    }

    nav .menu-icon i {
        display: block;
        /* margin-left: 6.5rem; */
        color: #092635;
        font-size: 1.3rem;
        cursor: pointer;
    }

    #click:checked~.nav-bar ul {
        left: 0%;
    }

    #click:checked~.menu-icon i::before {
        content: "\f00d";
    }

    /* ------banner section------- */
    main {
        margin: 1rem 1.5rem;
    }

    .banner {
        padding: 1.5rem 2rem;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .input-field {
        flex-direction: column;
        gap: 1rem;
    }
    .input-field input, .input-field select, .input-field .btn-primary{
        width: 100%;
    }

    /* ---------Popular tour section-------- */
    .popular{
        flex-direction: column;
    }

}

/* -------------Tablet or Medium devices -------------------- */
@media screen and (min-width:601px) and (max-width:992px) {

    /* --navbar responsive--- */
    nav {
        padding: 2rem 3.5rem;
    }

    .nav-content h3 {
        font-size: 2rem;
    }

    .nav-bar ul {
        flex-direction: column;
        position: fixed;
        top: 6.5rem;
        left: -100%;
        background: #092635;
        height: 100vh;
        width: 100%;
        transition: all 0.3s ease;
    }

    .nav-bar ul li {
        margin-top: 3.2rem;
    }

    .nav-bar ul li a {
        color: #BAD7E9;
    }

    .nav-bar ul li a:hover {
        color: #fff;
    }

    nav .menu-icon i {
        display: block;
        /* margin-left: 25.5rem; */
        color: #092635;
        font-size: 1.3rem;
        cursor: pointer;
    }

    #click:checked~.nav-bar ul {
        left: 0%;
    }

    #click:checked~.menu-icon i::before {
        content: "\f00d";
    }

    /* ------banner section------- */
    main {
        margin: 2rem 3.5rem;
    }

    .banner {
        padding: 1.5rem 2rem;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .input-field {
        flex-direction: column;
        gap: 1.5rem;
    }
    .input-field input, .input-field select, .input-field .btn-primary{
        width: 100%;
    }
    /* ---------Popular section ------- */
    .popular{
        flex-direction: column;
    }
    
}