/* ------------------Shared stye----------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

:root {
    --main-color: #FF5400;
    --section-title-color: #131318;
    --section-title-size: 2.5rem;
}

.section-title {
    color: var(--section-title-color);
    font-size: var(--section-title-size);
    font-weight: 800;
}

.btn-primary {
    padding: 1rem 1.5rem;
    background: var(--main-color);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-primary:hover {
    background: #FFF;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

/* --------------Nav-bar styles start here---------------- */
nav {
    padding: 3.2rem 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.nav-content h3 {
    font-size: var(--section-title-size);
    color: var(--section-title-color);
}

.nav-content h3 .vista {
    color: var(--main-color);
}

#click,
.menu-icon i {
    display: none;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-bar ul li a {
    position: relative;
    color: #424247;
    font-size: 1.1rem;
    text-decoration: none;
    margin-left: 2rem;
    padding: 0.4rem 0.8rem;
}

.nav-bar ul li a::after {
    position: absolute;
    content: '';
    left: 0;
    height: 0.22rem;
    width: 100%;
    background-color: var(--main-color);
    bottom: -0.4rem;
    border-radius: 2.5rem;
    transform: scale(0);
    transition: transform 0.4s ease;
}

.nav-bar ul li a:hover::after {
    transform: scale(1);
}

.nav-bar ul li a:hover {
    color: var(--section-title-color);
    font-weight: 500;
}

/*--------------------Banner section Styles start here ---------------------  */

main {
    margin: 3.2rem 8.5rem;
}

.banner {
    text-align: center;
    padding: 6.5rem 10rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-bottom: 6rem;

}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: #FFF;
}

.input-field {
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-field input,
.input-field select {
    padding: 1rem;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 0.5rem;
    border: none;
    background: #FFF;
}

.find-now {
    font-weight: 700;
    font-size: 1rem;
}

/* ---------------------Popular section style start here----------------------- */
.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.popular-content p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #5A5A5D;
}

.popular-content ul li {
    margin-left: 1.3rem;
    color: #5A5A5D;
    margin-bottom: 1rem;
}

/* --------------Destination Styles start here------------------ */
.destination {
    margin-top: 6.5rem;
    text-align: center;
}

.destination p {
    color: #5A5A5D;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.destination-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.maldives,
.indonesia,
.srilanka,
.america,
.kashmir,
.bangladesh,
.bandarban {
    position: relative;
}

.destination-row h5 {

    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* -----------Choose section start here------------- */
.choose {
    margin-top: 6.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.choose-description {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: #5A5A5D;
}

.choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.container-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.container-des {
    color: #5A5A5D;
}

.hotel {
    width: calc((100% - 1.5rem) / 2);
    height: 20rem;
    text-align: left;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}

.services {
    width: calc((100% - 1.5rem) / 2);
    height: 20rem;
    text-align: left;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
}

.choose-container-2 {
    margin: 1.5rem 17.72rem  0 17.72rem;
    
}

.price {
    width: 33.9rem;
    height: 20rem;
    text-align: left;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2rem;
}
/* --------------------Gallery section styles start------------ */
.gallery{
    margin-top: 6rem;
    margin-bottom: 3.5rem; 
    text-align: center;
}
.gallery p{
    margin-top: 1.5rem;
    color: #5A5A5D;
    margin-bottom: 3.5rem;
}
.container-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.img-div{
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    padding: 1rem;
}
.img-div img{
    width: 90%;
    object-fit: cover;
    height: 15.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s;
}
.img-div img:hover{
    transform: scale(125%);
}
